# Production dependencies
fastapi==0.128.0
slowapi==0.1.9
cachetools==6.2.4
python-dotenv==1.2.1
google-cloud-logging==3.13.0
uvicorn==0.40.0
pydantic[email]==2.12.5
google-auth==2.45.0
requests
httpx
google
motor==3.7.1
google-cloud-storage==3.7.0
python-multipart==0.0.21
pillow==12.0.0
pymongo-migrate==1.0.0
